@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    overflow-x: hidden;

}
.row {
    padding-right:0;
    padding-left:0;
}
 
.col1{
	min-height:600px;
	text-align:center;
	background-color:silver;
    padding-right:0;
    padding-left:0;
}
 
.col2{
	min-height:600px;
	text-align:center;
	background-color:green;
    padding-right:0;
    padding-left:0;
}
 
.col3{
	min-height:600px;
	text-align:center;
	background-color:blue;
    padding-right:0;
    padding-left:0;
}
 
.col4{
	min-height:600px;
	text-align:center;
	background-color:red;
    padding-right:0;
    padding-left:0;
}
 .no-gutter{
     padding-left: 0;
     padding-right: 0;
 }
 .but-action{
     position: absolute;
     top:53% ;
     left:5%;
     color: white;
     background-color: black;
     padding: 10px;
 }
 .but-action2{
    position: absolute;
    top:61% ;
    left:5%;
    color: white;
    background-color: black;
    padding: 10px;
}
.action-h1{
    font-weight: bolder;
    position: absolute;
    top:20%;
    left:5%;
    color: black;
}
.action-h12{
    font-weight: bolder;
    position: absolute;
    top:25%;
    left:15%;
    color: black;
}
.action-h13{
    font-weight: bolder;
    position: absolute;
    top:30%;
    left:7%;
    color: black;
}
.action-p{
    position: absolute;
    top:40%;
    left:7%;
    font-size: x-large;
    color: black;
}
.action-p1{
    position: absolute;
    top:45%;
    left:7%;
    font-size: x-large;
    color: black;
}
.bold-cap{
    font-weight: bold;
}
.im-boxshadow{
    box-shadow: 0.7em 0.7em 0.9em;
}
.im-boxshadows{
    color: black;
    box-shadow: 0.7em 0.5em 0.7em;
}
.product-card {
    margin: 15px 0;
    position: relative;
    box-shadow: -9px 11px 1px #ddd;
}

.product-card:hover .product-actions {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.product-info {
    padding: 12px;
}

.product-rating .fa-star {
    color: #ffd900;
}
.product-rating .fa-star-o {
    color: #999999;
}
.product-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    display: flex;
}

.product-price-new {
    font-weight: 600;
}

.product-price-old {
    text-decoration: line-through;
    color: #999999;
    margin-left: 10px;
}

.product-footer .btn {
    border-radius: 50%;
    background: #ff0000;
    color: #fff;
}

.product-footer .btn:hover {
    background: #2f2e2e;
    color: #ffffff;
}

.product-actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(45px);
    transition: all 0.4s linear;
}

.partners{
    font-family: 'Poppins', sans-serif !important;
    background: #eff3f8;
}
.partners-container{
    padding-top: 150px;
}
.partners-h2{
    text-align: center;
    padding: 20px;
}
.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}
.containerr{
	max-width: 1170px;
	margin:auto;
}
.roww{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:black;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.footer-copyright {
   color: #ffffff;
   text-align: center;
   padding: 20px;
   position: relative;  
   left: 90%;
}

.login-body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-login{
    width: 320px;
    height: 550px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(179,179,179,.7);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
.container-register{
    width:350px;
    height: 800px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(179,179,179,.7);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
.container-login h2{
    color: #8c8c8c;
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
}
.container-register h2{
    color: #8c8c8c;
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
}
.info-text p{
    font-size: 8rem;
    padding-left: .3rem;
}
.input{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: .7em;
}
.input input{
    width: 100%;
    height: 50px;
    padding-top: 1.1rem;
    padding-left: 9px;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    transition: 0.3s;
}
.input label{
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 1.1rem;
    color: black;
    transition: 0.3s;
}
.input input:focus ~ label,
.input input:valid ~ label{
    top: 10%;
    font-size: .8rem;
    color: red;
}
.input input:focus{
    border-width: 2px;
    border-color: #0a66c3;
}
input::placeholder{
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 1.1rem;
    color: #8c8c8c;
    transition: 0.3s; 
    font-style: italic;
}
.error{
    color: red;
    font-style: italic;
    border-color: #ff0000;
}.forgot-pass-link{
    width:150px ;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
    transition: 0.3s;
    border-radius: 12px;
}
.forgot-pass-link:hover{
    background: rgba(10,102,195,.3);
}
.input[type="radio"]{
    display: none;
}
.reg-label{
    font-family: 'Poppins', sans-serif !important;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 50px;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}
#female{
    cursor: pointer;
}
#male{
    cursor: pointer;
}
#sign-in-btn{
    height: 50px;
    background: #0A66C3;
    outline: none;
    border: none;
    border-radius: 30px;
    color:#fff;
    font-size: 2rem;
    font-weight: bolder;
}
.join-link{
    text-align: center;
}
.join-link a{
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
}





